.text {
   text-align: center;
   background-color:white ;
   border: 3px solid;
   border-radius: 10px;
   margin: 15px;
   color: #333;
   transition: color 0.5s ease;
}
.text:hover {
   color: #627593;
}
body {
   background-color: rgb(179, 196, 213);

}

.images {
   display: flex;
   justify-content: center;
   border: 2px solid;
   border-radius: 5px;
}
.buttons {

    color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
